.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
render.R
*.DS_Store
assets/John_sc*
assets/angus*
assets/tim_snow*
test*
VENN*
rse_shef*
.drake/*
hactoberfest.html
assets/.DS_Store
data/*
docs/*
scripts/*
.secrets
!user2020_files/*
pdf/*
